extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/wangImgEnlarge.css")

block content
  - var mockapi= location + '/mockapi'
  -
    var getMap = [
      {
        title:'/people',
        items:[
          {
            explain:'Mosk生成的5000条人物数据',
            example:'/people'
          },
          {
            explain:'获得指定id的人物数据',
            example:'/people/1'
          },
          {
            explain:'获得指定id的人物数据',
            example:'/people?id=1'
          }
        ]  
      },
      {
        title:'/image',
        items:[
          {
            explain:'Mosk生成的5000张多尺寸图片URL',
            example:'/image'
          },
          {
            explain:'获得指定id的图片URL',
            example:'/image/1'
          },
          {
            explain:'获得指定id的图片URL',
            example:'/image?id=1'
          }
        ]
      },
      {
        title:'/basicData',
        items:[
          {
            explain:'Mosk生成的500条各种基础类型数据',
            example:'/basicData'
          },
          {
            explain:'获得指定id的数据',
            example:'/basicData/1'
          },
          {
            explain:'获得指定id的数据',
            example:'/basicData?id=1'
          },
          {
            explain:'获得character为指定值的所有数据',
            example:'/basicData?character=A'
          }
        ]
      },
      {
        title:'/complexData',
        items:[
          {
            explain:'Mosk生成的复杂数据',
            example:'/complexData'
          }
        ]
      },
    ]
  -
    var postMap = [
      {
        title:'/customImage',
        explain:'根据发送的参数，返回指定的图片URL',
        parameter:[
          {
            name:'str',
            description:'图片的上的文字',
          },
          {
            name:'height',
            description:'图片的高',
          },
          {
            name:'width',
            description:'图片的宽',
          },
          {
            name:'bgc',
            description:'图片的背景颜色',
          },
          {
            name:'color',
            description:'图片的文字颜色',
          }
        ]
      }
    ]
  div.head
    h1.title Mock API
    p.subtitle 一个基于Koa2搭建的一个虚拟数据API，虽然Mockjs能直接拦截Ajax，但是那样做的话，数据并不会经过Network，感觉不能很好的模拟GET&POST请求。
  hr
  div.content
    h1.title GET
    each get in getMap
      p.subtitle
        b GET&nbsp;&nbsp;
        =get.title
        table.item
          each item in get.items       
            tr.getMap
              td
                a(href='/mockapi'+item.example)= item.example  
              td
                span= item.explain
  hr
  div.content
    h1.title POST
    each post in postMap
      p.subtitle
        b POST&nbsp;&nbsp;
        =post.title
        p.subtitle= post.explain
        p.subtitle 
          b 参数
        table#tab02.subtitle
          tr
            th Name
            th Type
            th Description
          each item in post.parameter
            tr
              td= item.name
              td string
              td= item.description
    div.subtitle  
      b 示例 
      img(src="/images/example.png" style="max-width: 40rem;") 
      img(src="/images/result.png" style="max-width: 40rem;")      
  
  script(src="/javascript/jquery.min.js")
  script(src="/javascript/wangImgEnlarge.js")
    //- code
    //-   p $.ajax({
    //-   p &nbsp;&nbsp;url: "http://localhost:3333/mockapi/image",
    //-   p &nbsp;&nbsp;type: "post",
    //-   p &nbsp;&nbsp;data: {
    //-   p &nbsp;&nbsp;&nbsp;&nbsp;str: "post",
    //-   p &nbsp;&nbsp;&nbsp;&nbsp;height: "post",
    //-   p &nbsp;&nbsp;&nbsp;&nbsp;width: "post",
    //-   p &nbsp;&nbsp;&nbsp;&nbsp;bgc: "#eee",
    //-   p &nbsp;&nbsp;&nbsp;&nbsp;color: "#333"
    //-   p &nbsp;&nbsp;},
    //-   p &nbsp;&nbsp;success: function(res) {
    //-   p &nbsp;&nbsp;&nbsp;&nbsp;console.log(res);
    //-   p &nbsp;&nbsp;}
    //-   p });